.calling-main-container {
    display: flex;
}

.calling-container {
    background-image: url(../images/Patterns.png), url(../images/Patterns-2.png);
    background-color: $blue;
    width: 250px;
    height: 400px;
    min-width: 250px;
    min-height: 400px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: left top, bottom right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    padding: 26px 22px 8px 22px;
    position: relative;
    z-index: 99;

    &.resizable {
        position: relative;
    }

    .resizer {
        position:absolute;
        right: 0;
        bottom: 0;
        cursor: e-resize;
        width: 10px;
        height: 10px;
    }

    .rining-animation {
        position: relative;
        width: 100px;
        margin: 0 auto;
    }

    .circle {
        display: grid;
        place-items: center;
        width: 66px;
        height: 66px;
        background-color: $darkblack;
        margin: 10px auto;
        border-radius: 50%;
    }

    .animation-inner-cicle {
        border: 2px solid $white;
        animation: scale 1.5s linear infinite;
        position: absolute;
        width: 67px;
        height: 67px;
        top: 0;
        border-radius: 50%;
        animation-delay: .3s;
        left: 17%;
    }

    @keyframes scale {
        0% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1.5);
            border: 2px solid rgba(255, 255, 255, 0);
        }
    }

    .animation-cicle {
        border: 2px solid $white;
        animation: scaling 1.5s linear infinite;
        position: absolute;
        width: 70px;
        height: 70px;
        top: -2px;
        border-radius: 50%;
        animation-delay: 0;
        left: 16%;
    }

    @keyframes scaling {
        0% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1.8);
            border: 2px solid rgba(255, 255, 255, 0);
        }
    }

    .call-text {
        color: $white;
        text-align: center;
        margin-bottom: 14px;
    
        .call-heading {
            font-size: 16px;
            font-weight: $font500;
            margin: 35px 0 0 0;
        }
    
        .call-para {
            font-size: 16px;
            font-weight: $font400;
        }
    }

    .call-meeting {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .phone-logo {
            width: 35px;
            height: 35px;
            border: 1px solid $white;
            border-radius: 50%;
            display: grid;
            place-items: center;
            cursor: pointer;
        }

        .call-1 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }
        .call-3 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }

        .phone-logo:hover {
            background-color: $yellow;
        }
    }

    .call-meeting-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 12px;
        margin-bottom: 14px;
        
        .phone-logo {
            position: relative;
            width: 35px;
            height: 35px;
            border: 1px solid $white;
            background-color: $darkblue;
            border-radius: 50%;
            display: grid;
            place-items: center;
            cursor: pointer;

            .muted-img {
                display: none;
                align-items: center;
                position: absolute;
            }
        }
        .phone-logo:hover {
            background-color: $yellow;
        }
        .call-1 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }
        .call-5 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }
        .call-6 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }
    }

    .bottom-phone {
        width: 42px;
        height: 42px;
        border: 1px solid $white;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin: 25px auto;
    }
}

.verticle-line {
    display: flex;
}

.hold-call {
    display: none;
}

.tabs-container {
    display: flex;

    > div {
        cursor: pointer;
    }

    .recent-tab {
        background-color: $white;
        border-radius: 15px 15px 0 0;
        width: 50%;
        height: 30px;

        .recent-heading {
            font-size: 13px;
            font-weight: $font600;
            text-align: center;
            padding-top: 7px;
        }
    }

    .contact-tab {
        width: 73px;
        height: 21px;

        .contact-main-heading {
            font-size: 13px;
            font-weight: $font600;
            text-align: center;
            padding-top: 5px;
            color: $white;
        }
    }
}

.call-list-1 {
    background-color: $white;
    width: 227px;
    height: 347px;
    border-radius: 0 15px 15px 15px;
    margin: 0 auto;
    padding-top: 10px;
    

    > div:not(:last-child) {
        cursor: pointer;
        &:hover {
            background: rgba(255, 182, 0, 0.2);
        }
    }

    .call-direction {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $blue;
        border: 1px solid $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px auto;
        cursor: pointer;

        &:hover {
            background: $blue !important;
        }
    }

    > div:not(.call-pad) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 4px 9px;
    }

    .search-bar {
        margin-bottom: 15px;

        &:hover {
            background-color: unset !important;
        }
        .search {
            width: 100%;
            background: rgba(43, 54, 142, 0.24);
            border-radius: 30px;
            border: none;
            outline: none;
            font-size: 14px;
            font-weight: $font500;
            padding: 4px 0 4px 13px;
        }

        ::placeholder {
            color: $grey;
        }
    }

    .call-list-circle {
        background-color: $primary;
        width: 28px;
        height: 28px;
        border-radius: 50%;
    }

    

    .call-list-detail {
        display: flex;
        align-items: center;

        .call-list-contats {
            margin-left: 9px;

            .contact-heading {
                font-size: 14px;
                font-weight: $font500;
                color: $darkblack;
                line-height: 11.63px;
                text-align: end;
            }
    
            .contact-para {
                font-size: 12px;
                font-weight: $font400;
            }
        }
    }
}

#call-list {
    transform: translate(-500px);
    position: absolute;
    left: 250px;
    bottom: 0;
    transition: 0.8s;
}

.check-js {
    background-image: url(../images/select-phone-num.png);
    border: 1px solid $yellow;
    background-repeat: no-repeat;
    background-position: center;
}

#transfering-call {
    display: none;
}

.caliing-animation {
    width: 550px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.transfering-call-content {
    display: none;
}
