.call-pad {
    background-image: url(../images/left-bottom-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 156px;
    // height: 197px;
    background-color: $bluepalettes;
    border-radius: 15px;
    padding: 7px 14px 7px 14px;

    .call-pad-text {
        position: relative;
        
        .call-pad-input {
            width: 100%;
            border: none;
            outline: none;
            border-radius: 30px;
            padding: 4px;
            text-align: center;
            font-size: 10px;
            font-weight: 500;
            background-color: $aliceblue;
        }

        .callpad-input-arrow {
            position: absolute;
            right: 10px;
            top: 7px;
            cursor: pointer;
        }
    }

    .callpad-tablet {
        margin-top: 10px;

        .callpad-meeting-1 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 5px;

            .callpad-numbers {
                width: 25px;
                height: 25px;
                background-color: $white;
                display: grid;
                place-items: center;
                border-radius: 50%;
                color: $bluepalettes;
                line-height: 16px;

            }

            .callpad-star {
                
                .callpad-star-text {
                    font-size: 16px;
                    line-height: 34px;
                    font-weight: 600;
                }
            }
        }

        .callpad-attend {
            width: 35px;
            height: 35px;
            background-color: $aliceblue;
            border-radius: 50%;
            display: grid;
            place-items: center;
            margin: 0 auto;
        }
    }
}