.calling-main-container {
    display: flex;
}
.calling-container {
    background-image: url(../images/Patterns.png), url(../images/Patterns-2.png);
    background-color: $blue;
    width: 156px;
    height: 277px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: left top, bottom right;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .circle {
        display: grid;
        place-items: center;
        width: 66px;
        height: 66px;
        background-color: $darkblack;
        margin: 0 auto;
        border-radius: 50%;
        margin-top: 26px;
    }

    .call-text {
        color: $white;
        text-align: center;
    
        .call-heading {
            font-size: 14px;
            font-weight: 500;
            margin: 7px 0 6px 0;
        }
    
        .call-para {
            font-size: 12px;
            font-weight: 400;
        }
    }

    .call-meeting {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 14px 22px 0 20px;
        
        .phone-logo {
            width: 26px;
            height: 26px;
            border: 1px solid $white;
            border-radius: 50%;
            display: grid;
            place-items: center;
            cursor: pointer;
        }

        .call-1 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }
        .call-3 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }

        .phone-logo:hover {
            background-color: $yellow;
        }
    }

    .call-meeting-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 8px 22px 14px 20px;
        
        .phone-logo {
            position: relative;
            width: 26px;
            height: 26px;
            border: 1px solid $white;
            background-color: $darkblue;
            border-radius: 50%;
            display: grid;
            place-items: center;
            cursor: pointer;

            .muted-img {
                display: none;
                align-items: center;
                position: absolute;
            }
        }
        .phone-logo:hover {
            background-color: $yellow;
        }
        .call-1 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }
        .call-5 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }
        .call-6 {
            background: rgba(0, 0, 0, 0.52);
            backdrop-filter: blur(40px);
        }
    }

    .bottom-phone {
        width: 35px;
        height: 35px;
        border: 1px solid $white;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin-left: 20px;
    }
}