.receive-container {
    display: flex;
}

.receive-call-container {
    background-image: url(../images/receive-bg.png);
    background-color: $bluepalettes;
    width: 156px;
    height: 277px;
    border-radius: 15px;
    background-repeat: no-repeat;
    padding: 45px 25px 39px 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    .receive-circle {
        margin-top: 45px;
        width: 66px;
        height: 66px;
        background-color: $white;
        margin: 0 auto;
        border-radius: 50%;
    }

    .receive-call-text {
        color: $white;
        text-align: center;
    
        .receive-call-heading {
            font-size: 14px;
            font-weight: 500;
            margin-top: 14px;
            line-height: 21px;
        }
    
        .receive-call-para {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
    
            .i-icon {
                width: 10px;
                height: 10px;
                margin-left: 3px;
            }
        }
    }

    .receive-call-meeting {
        display: flex;
        justify-content: space-between;
        margin-top: 47px;
    
        .receive-phone-logo {
            width: 35px;
            height: 35px;
            // border: 1px solid $white;
            background-color: $white;
            border-radius: 50%;
            display: grid;
            place-items: center;
        }
    }
}

.receive-call-list-container {
    position: relative;
    background-color: $white;
    width: 156px;
    height: 277px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

    .receive-incoming-tab {
        background-color: $white;
        width: 73px;
        height: 21px;
        border-radius: 15px 15px 0 0;
        margin: 0 auto;

        .receive-incomig-heading {
            position: relative;
            font-size: 6px;
            font-weight: 500;
            text-align: center;
            padding-top: 10px;
            color: $bluepalettes;
        }

        .receive-incomig-heading::after {
            position: absolute;
            content: '';
            width: 33px;
            height: 2px;
            top: 18px;
            left: 19px;
            background-color: $bluepalettes;
        }
    }

    .receive-call-list {
        background-color: $white;
        border-radius: 15px;
        margin: 0 auto;
        padding: 10px 18px 0 18px;

        .receive-flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;
        }

        .receive-list-circle {
            background-color: $primary;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        .receive-list-detail {
            display: flex;


            .receive-list-contats {
                margin-left: 9px;

                .receive-contact-heading {
                    font-size: 7px;
                    font-weight: 500;
                    color: $darkblack;
                    line-height: 11px;
                    text-align: center;
                }

                .receive-contact-para {
                    font-size: 6px;
                    font-weight: 400;
                }
            }
        }
    }

    .call-list-dott {
        
        .call-dott-img {
            width: 8px;
            height: 8px;
        }
    }

    .receive-bottom-input {
        position: absolute;
        bottom: 0;
        .receive-input {
            width: 100%;
            padding: 6px;
            border-radius: 30px;
            background-color: $aliceblue;
            border: none;
            outline: none;
        }
    }
}