@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700&display=swap');
@import  "variables";
@import "incoming";
@import "calling";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta Mahee', sans-serif;

    &::after {
        box-sizing: border-box;
    }

    &::before {
        box-sizing: border-box;
    }
}

body {
    overflow-x: hidden;
    font-family: 'Mukta Mahee', sans-serif;
}

.phone-number-text {
    color: $white;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
}

.callpad-text {
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    cursor: pointer;
}
