@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700&display=swap");
.parent-container {
  position: fixed;
  bottom: 74px;
  left: 14px;
}

.incoming-container {
  display: flex;
  display: none;
}

.call-container {
  background-image: url(../images/Patterns.png);
  background-color: #2B368E;
  width: 250px;
  height: 400px;
  border-radius: 15px;
  background-repeat: no-repeat;
  padding: 45px 25px 39px 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.call-container .circle {
  top: 45px;
  width: 66px;
  height: 66px;
  background-color: #202020;
  margin: 0 auto;
  border-radius: 50%;
}
.call-container .call-text {
  color: #ffffff;
  text-align: center;
}
.call-container .call-text .call-heading {
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0 0 0;
}
.call-container .call-text .incoming-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.call-container .call-text .incoming-content .call-para {
  font-size: 15px;
  font-weight: 400;
}
.call-container .call-text .incoming-content .i-icon {
  width: 10px;
  height: 10px;
  margin-left: 8px;
}
.call-container .call-meeting {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}
.call-container .call-meeting > div {
  cursor: pointer;
}
.call-container .call-meeting .phone-logo {
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.call-container .call-meeting .phone-logo:hover {
  background-color: #ffffff;
}

.call-list-container {
  background-image: url(../images/Patterns.png);
  background-color: #2B368E;
  width: 250px;
  height: 400px;
  border-radius: 15px;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px 12px 12px 11px;
}
.call-list-container .incoming-tab {
  background-color: #ffffff;
  width: 50%;
  height: 30px;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;
}
.call-list-container .incoming-tab .incomig-heading {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: 7px;
}
.call-list-container .call-list {
  background-color: #ffffff;
  width: 225px;
  height: 350px;
  border-radius: 15px;
  margin: 0 auto;
  padding-top: 20px;
}
.call-list-container .call-list > div {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.call-list-container .call-list > div:hover {
  background: rgba(255, 182, 0, 0.2);
}
.call-list-container .call-list .call-list-circle {
  background-color: #D9D9D9;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.call-list-container .call-list .call-list-detail {
  display: flex;
}
.call-list-container .call-list .call-list-detail .call-list-contats {
  margin-left: 9px;
}
.call-list-container .call-list .call-list-detail .call-list-contats .contact-heading {
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  line-height: 11.63px;
  text-align: end;
}
.call-list-container .call-list .call-list-detail .call-list-contats .contact-para {
  font-size: 12px;
  font-weight: 400;
}
.call-list-container .call-dott-img i {
  color: #948989;
  font-size: 14px;
}

.call-flows {
  position: fixed;
  bottom: 9px;
  display: flex;
  align-items: center;
}
.call-flows .bottom-phone-1 {
  width: 59px;
  height: 59px;
  background-color: #2B368E;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  margin-right: 100px;
  position: absolute;
}
.call-flows .show-incming-flow-btn {
  background-color: #2B368E;
  color: #ffffff;
  border: 0;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.call-pad {
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  background-color: #2B368E;
  border-radius: 15px;
  padding: 7px 14px 7px 14px;
  border: 1px solid #FFB600;
  height: 260px;
  transition: 0.5s;
  transform: translateY(1000px);
}
.call-pad.js-call {
  transform: translateY(0);
}
.call-pad.dialing-flow {
  left: 0;
  transform: translateY(0);
}
.call-pad .call-pad-text {
  position: relative;
  margin-top: 12px;
}
.call-pad .call-pad-text .call-pad-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  background-color: #ffffff;
}
.call-pad .call-pad-text .callpad-input-arrow {
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-40%);
  cursor: pointer;
}
.call-pad .callpad-tablet {
  margin-top: 10px;
}
.call-pad .callpad-tablet button {
  color: #ffffff;
  background-color: unset;
  border: 0;
  position: relative;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  background: #FFB600;
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  /* Safari */
}
.call-pad .callpad-tablet button::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}
.call-pad .callpad-tablet button:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}
.call-pad .callpad-tablet button:active {
  top: 1px;
}
.call-pad .callpad-tablet .callpad-meeting-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;
}
.call-pad .callpad-tablet .callpad-meeting-1 .callpad-numbers {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #ffffff;
  line-height: 16px;
}
.call-pad .callpad-tablet .callpad-meeting-1 .callpad-star {
  cursor: pointer;
}
.call-pad .callpad-tablet .callpad-meeting-1 .callpad-star .callpad-star-text {
  font-size: 16px;
  line-height: 34px;
  font-weight: 600;
}
.call-pad .callpad-tablet .callpad-attend {
  width: 40px;
  height: 40px;
  background-color: #EDF9FF;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 15px auto;
  cursor: pointer;
}
.call-pad .callpad-tablet .callpad-attend img {
  cursor: pointer;
}

#transfering-call {
  display: none;
}

#dial-list {
  display: none;
}

#ringing-call-dial {
  display: none;
}

.show-incoming {
  margin-left: 300px;
}

.calling-main-container {
  display: flex;
}

.calling-container {
  background-image: url(../images/Patterns.png), url(../images/Patterns-2.png);
  background-color: #2B368E;
  width: 250px;
  height: 400px;
  min-width: 250px;
  min-height: 400px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: left top, bottom right;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
  padding: 26px 22px 8px 22px;
  position: relative;
  z-index: 99;
}
.calling-container.resizable {
  position: relative;
}
.calling-container .resizer {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: e-resize;
  width: 10px;
  height: 10px;
}
.calling-container .rining-animation {
  position: relative;
  width: 100px;
  margin: 0 auto;
}
.calling-container .circle {
  display: grid;
  place-items: center;
  width: 66px;
  height: 66px;
  background-color: #202020;
  margin: 10px auto;
  border-radius: 50%;
}
.calling-container .animation-inner-cicle {
  border: 2px solid #ffffff;
  animation: scale 1.5s linear infinite;
  position: absolute;
  width: 67px;
  height: 67px;
  top: 0;
  border-radius: 50%;
  animation-delay: 0.3s;
  left: 17%;
}
@keyframes scale {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.5);
    border: 2px solid rgba(255, 255, 255, 0);
  }
}
.calling-container .animation-cicle {
  border: 2px solid #ffffff;
  animation: scaling 1.5s linear infinite;
  position: absolute;
  width: 70px;
  height: 70px;
  top: -2px;
  border-radius: 50%;
  animation-delay: 0;
  left: 16%;
}
@keyframes scaling {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.8);
    border: 2px solid rgba(255, 255, 255, 0);
  }
}
.calling-container .call-text {
  color: #ffffff;
  text-align: center;
  margin-bottom: 14px;
}
.calling-container .call-text .call-heading {
  font-size: 16px;
  font-weight: 500;
  margin: 35px 0 0 0;
}
.calling-container .call-text .call-para {
  font-size: 16px;
  font-weight: 400;
}
.calling-container .call-meeting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.calling-container .call-meeting .phone-logo {
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.calling-container .call-meeting .call-1 {
  background: rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(40px);
}
.calling-container .call-meeting .call-3 {
  background: rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(40px);
}
.calling-container .call-meeting .phone-logo:hover {
  background-color: #FFB600;
}
.calling-container .call-meeting-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 14px;
}
.calling-container .call-meeting-2 .phone-logo {
  position: relative;
  width: 35px;
  height: 35px;
  border: 1px solid #ffffff;
  background-color: #264A6D;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.calling-container .call-meeting-2 .phone-logo .muted-img {
  display: none;
  align-items: center;
  position: absolute;
}
.calling-container .call-meeting-2 .phone-logo:hover {
  background-color: #FFB600;
}
.calling-container .call-meeting-2 .call-1 {
  background: rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(40px);
}
.calling-container .call-meeting-2 .call-5 {
  background: rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(40px);
}
.calling-container .call-meeting-2 .call-6 {
  background: rgba(0, 0, 0, 0.52);
  backdrop-filter: blur(40px);
}
.calling-container .bottom-phone {
  width: 42px;
  height: 42px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 25px auto;
}

.verticle-line {
  display: flex;
}

.hold-call {
  display: none;
}

.tabs-container {
  display: flex;
}
.tabs-container > div {
  cursor: pointer;
}
.tabs-container .recent-tab {
  background-color: #ffffff;
  border-radius: 15px 15px 0 0;
  width: 50%;
  height: 30px;
}
.tabs-container .recent-tab .recent-heading {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  padding-top: 7px;
}
.tabs-container .contact-tab {
  width: 73px;
  height: 21px;
}
.tabs-container .contact-tab .contact-main-heading {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
  color: #ffffff;
}

.call-list-1 {
  background-color: #ffffff;
  width: 227px;
  height: 347px;
  border-radius: 0 15px 15px 15px;
  margin: 0 auto;
  padding-top: 10px;
}
.call-list-1 > div:not(:last-child) {
  cursor: pointer;
}
.call-list-1 > div:not(:last-child):hover {
  background: rgba(255, 182, 0, 0.2);
}
.call-list-1 .call-direction {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2B368E;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
  cursor: pointer;
}
.call-list-1 .call-direction:hover {
  background: #2B368E !important;
}
.call-list-1 > div:not(.call-pad) {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4px 9px;
}
.call-list-1 .search-bar {
  margin-bottom: 15px;
}
.call-list-1 .search-bar:hover {
  background-color: unset !important;
}
.call-list-1 .search-bar .search {
  width: 100%;
  background: rgba(43, 54, 142, 0.24);
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 0 4px 13px;
}
.call-list-1 .search-bar ::placeholder {
  color: #646566;
}
.call-list-1 .call-list-circle {
  background-color: #D9D9D9;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.call-list-1 .call-list-detail {
  display: flex;
  align-items: center;
}
.call-list-1 .call-list-detail .call-list-contats {
  margin-left: 9px;
}
.call-list-1 .call-list-detail .call-list-contats .contact-heading {
  font-size: 14px;
  font-weight: 500;
  color: #202020;
  line-height: 11.63px;
  text-align: end;
}
.call-list-1 .call-list-detail .call-list-contats .contact-para {
  font-size: 12px;
  font-weight: 400;
}

#call-list {
  transform: translate(-500px);
  position: absolute;
  left: 250px;
  bottom: 0;
  transition: 0.8s;
}

.check-js {
  background-image: url(../images/select-phone-num.png);
  border: 1px solid #FFB600;
  background-repeat: no-repeat;
  background-position: center;
}

#transfering-call {
  display: none;
}

.caliing-animation {
  width: 550px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.transfering-call-content {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta Mahee", sans-serif;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Mukta Mahee", sans-serif;
}

.phone-number-text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  line-height: 26px;
}

.callpad-text {
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
